.main_area {
  position: relative;
  height: 400px;
  background-color: lightblue;
}

.wall_area {
  position: relative;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.player_label {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 50px;
}

.content {
  position: absolute;
}

.button-container {
  display: flex;
  gap: 12px; /* 按钮间距 */
  /* justify-content: center; */

  /* 外边距 */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.vertical-button-container {
  display: flex;
  flex-direction: column;
}

button {
  width: 40px; /* 设置按钮宽度 */
  height: 40px; /* 设置按钮高度 */
}
