.main_area {
  position: relative;
  height: 400px;
  background-color: lightblue;
}

.wall_area {
  position: relative;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.player_label {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 50px;
}

.content {
  position: absolute;
}

.buttons {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  column-gap: 10px;

  /* 垂直居中 */
  align-items: center;
}

.up-down {
  display: grid;
  grid-template-columns: 50px;
  row-gap: 70px;
}

.buttons {
  button {
    border-radius: 5px;
    padding: 5px;
    text-align: center;

    width: 50px;
    height: 50px;
  }
}
